@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #326ccf;
  text-decoration: none;
  list-style: none;
}

html{
  font-size: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1280px;
}
.d-menu ul {
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
  font-weight: 500;
}

.d-menu ul li {
  padding: 2rem 2rem;
  color: #5c6069;
}